
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.custom-placeholder::placeholder {
   color: rgba(255, 255, 255, 0.7) !important;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}


.reveal.active {
  opacity: 1;
  transform: translateY(0);
}